<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Увійти</title>
    <!-- Bootsrap CSS -->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <link rel="stylesheet/less" type="text/css" href="/static/main.less" />
    <link rel="stylesheet" type="text/css" href="/static/normalize.css">
    <!-- LESS JavaScript компілятор -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/less.js/2.5.3/less.min.js"></script>
</head>
<body>
<div class ="header">
    <div class="head-logo">
        KBN Garage
        <div class="info">
            <button id="logout" @click="logout">Вийти</button>
            Діагностика та ремонт автоелектроніки
        </div>
    </div>
    <div class="buttons-line">
        <div class="left">
            <div  id="home">
                <a href="/">
                    <button class="button-top" data-tooltip="Додому">Home</button></a>
            </div>
            <div  id="faq"><button class="button-top" data-tooltip="Цікава інформація">F.A.Q</button></div>
            <div  id="bio">
                <a href="/BIO">
                    <button class="button-top" data-tooltip="Інформація про майстра" >B.I.O</button></a>
            </div>

        </div>
        <div class="right">
            <div  id="my-calls">
                <a :href="href">
                    <button class="button-top" data-tooltip="Заявки">Мій кабінет</button>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="form">
    <div class="container" id="all">
        <div class="row">
            <div class="check" v-show="!checked">
                <button class="cell" @click="login">Увійти</button>
                <button class="cell" @click="register">Зареєструватись</button>
            </div>
            <div class="col-md-8 col-md-offset-2" v-show="checked">
                <div class="panel panel-login">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-12" >
                                <form id="logregform" action="#" method="post" role="form"  style="display: block;">
                                    <h2 v-show="isLogging">Ввійти в профіль</h2>
                                    <h2 v-show="!isLogging">Зареєструватися</h2>
                                    <div class="form-group">
                                        <input
                                                type="text"
                                                name="username"
                                                id="username"
                                                tabindex="1"
                                                class="form-control"
                                                placeholder="Логін"
                                                value=""
                                                v-model="resultUsername"
                                        ></div>
                                    <div class="form-group">
                                        <input
                                                type="password"
                                                name="password"
                                                id="password"
                                                tabindex="2"
                                                class="form-control"
                                                placeholder="Пароль"
                                                v-model="resultPassword"
                                        ></div>
                                    <div class="form-group" v-show="!isLogging">
                                        <input
                                                type="email"
                                                name="email"
                                                id="email"
                                                tabindex="1"
                                                class="form-control"
                                                placeholder="Електронна адреса"
                                                value=""
                                                v-model="resultEmail">
                                    </div>
                                    <div class="form-group" v-show="!isLogging">
                                        <input
                                                type="text"
                                                name="phone-number"
                                                id="phone-number"
                                                tabindex="2"
                                                class="form-control"
                                                placeholder="Номер телефону"
                                                v-model="resultTelephone"
                                        >
                                    </div>
                                    <div class="rem-ent" v-show="isLogging">
                                        <div class="form-group pull-left checkbox">
                                            <input
                                                    id="checkbox1"
                                                    type="checkbox"
                                                    name="remember"
                                                    v-model="rememberMe"
                                            >
                                            <label for="checkbox1">Запам'ятати мене</label>
                                        </div>
                                        <div class="form-group pull-right">
                                            <input
                                                    type="submit"
                                                    name="login-submit"
                                                    id="login-submit"
                                                    tabindex="4"
                                                    class="form-control btn btn-login"
                                                    value="Ввійти"
                                                    @click="loginUser"
                                            >
                                        </div>
                                    </div>
                                    <div class="form-group" v-show="!isLogging">
                                        <div class="row">
                                            <div class="col-sm-6 col-sm-offset-3">
                                                <input
                                                        name="register-submit"
                                                        id="register-submit"
                                                        tabindex="4"
                                                        class="form-control btn btn-register"
                                                        value="Зареєструватись"
                                                        @click="registerUser"
                                                >
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer">

</div>
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
<script src="/static/form.js"></script>
</body>
</html>