<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Заявка</title>
    <!-- Bootsrap CSS -->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <link rel="stylesheet/less" type="text/css" href="/static/main.less" />
    <link rel="stylesheet" type="text/css" href="/static/normalize.css">
    <!-- LESS JavaScript компілятор -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/less.js/2.5.3/less.min.js"></script>
</head>
<body>
<div class ="header">
    <div class="head-logo">
        KBN Garage
        <div class="info">
            Діагностика та ремонт автоелектроніки
        </div>
    </div>
    <div class="buttons-line">
        <div class="left">
            <div  id="home">
                <a href="/">
                    <button class="button-top" data-tooltip="Додому">Home</button></a>
            </div>
            <div  id="bio">
                <a href="/bio">
                    <button class="button-top" data-tooltip="Інформація про майстра" >B.I.O</button></a>
            </div>

        </div>
        <div class="right">
            <div  id="my-calls">
                <a href="/room">
                    <button class="button-top" data-tooltip="Заявки">Мій кабінет</button>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="request" style="background-color: black">
    <div class="container">
        <div id="name">
            <h3 style="color: #ffd600"><%name%></h3>
            <h2 style="color: #ffd600"><%desc%></h2>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="panel panel-request">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <form id="request-form" action="#" method="post" role="form" style="display: block;">
                                    <h2 style="color: #ffd600">Заявка</h2>
                                    <h3 class="names" >Автомобіль</h3>
                                    <div class="form-group">
                                        <input
                                                type="text"
                                                name="car"
                                                id="car"
                                                tabindex="1"
                                                class="form-control"
                                                value=""
                                                v-model="car">
                                    </div>
                                    <h3 class="names">Рік випуску</h3>
                                    <div class="form-group" id="age-choose">
                                        <input
                                                type="range"
                                                min="2000"
                                                max="2018"
                                                name="age"
                                                id="age"
                                                tabindex="2"
                                                class="form-control"
                                                value=""
                                                v-model="age"
                                        >
                                        <div class="info"><%age%></div>
                                    </div>
                                    <h3 class="names">Двигун</h3>
                                    <div class="form-group">
                                        <input
                                                type="text"
                                                name="engine"
                                                id="password"
                                                tabindex="3"
                                                class="form-control"
                                                v-model="engine"
                                        >
                                    </div>
                                    <h3 class="names" >Опис проблеми</h3>
                                    <div class="form-group">
                                        <textarea
                                                name="problem"
                                                id="problem"
                                                tabindex="4"
                                                class="form-control"
                                                v-model="problem"
                                        ></textarea>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-6 col-sm-offset-3">
                                                <input
                                                        name="request-submit"
                                                        id="request-submit"
                                                        tabindex="5"
                                                        class="form-control btn btn-request"
                                                        value="Відправити заявку"
                                                        @click="send"
                                                >
                                            </div>
                                        </div>
                                    </div>
                                </form>
                        </div>
                    </div>
                </div>
             </div>
        </div>
    </div>
</div>
</div>
<div class="footer">
</div>

<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
<script src="/static/request.js"></script>
</body>
</html>